.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.select {
  margin-top: 20px;
  text-align: center;
}

.whatsApp {
  margin-top: 80px;
  text-align: center;
}
