<p class="welcome-message">Olá, seja bem-vinda {{ name }} :)</p>

<div class="container">
  <form>
    <div class="form-group">
      <label for="name">Nome</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        [(ngModel)]="name"
        pattern="[0-9]+"
      />
      <div *ngIf="name && name.match('[0-9]+')" class="error-message">
        Nome inválido, use apenas letras!
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Telefone</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        name="phone"
        [(ngModel)]="phone"
        pattern="[a-zA-Z]+"
      />
      <div *ngIf="phone && phone.match('[a-zA-Z]+')" class="error-message">
        Telefone inválido, use apenas números!
      </div>
    </div>
    <div class="form-group">
      <label for="address">Endereço</label>
      <input
        type="text"
        class="form-control"
        id="address"
        name="address"
        [(ngModel)]="address"
        pattern="^[a-zA-Z0-9\s]+$"
      />
      <div *ngIf="address && !address.match('^[a-zA-Z0-9\\s]+$')" class="error-message">
        Endereço inválido, use apenas letras, números e espaços.
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-warning"
      [disabled]="!name || !phone || !address"
      (click)="saveAndNavigateToList()"
    >
      Salvar
    </button>
  </form>
</div>

<div>
  <app-user-list></app-user-list>
</div>
