<div class="container">
  <!-- <p class="mt-3">Olá :) sejam bem vindas a nova coleção: ANIMALS</p> -->
  <div class="row">
    <div class="col-md-3">
      <img src="assets/1.jpg" alt="animals01" class="img-fluid" />
      <p>animals01</p>
    </div>
    <div class="col-md-3">
      <img src="assets/teste.jpg" alt="animals02" class="img-fluid" />
      <p>animals02</p>
    </div>
    <div class="col-md-3">
      <img src="assets/3.jpg" alt="animals03" class="img-fluid" />
      <p>animals03</p>
    </div>
    <div class="col-md-3">
      <img src="assets/2.jpg" alt="animals04" class="img-fluid" />
      <p>animals04</p>
    </div>
  </div>
  <p class="mt-3">
    Obs: anote a id da t-shirt escolhida e preencha o formulário na página de
    compras. Irei até você para a prova e possível compra *-*
  </p>
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-warning" (click)="goToHomepage()">Voltar</button>
    <button class="btn btn-warning" (click)="goPurchaseForm()">Comprar</button>
  </div>
</div>
